<div class = "row">
  <% @gifs.reverse.each do |g|%>
    <div class = "col-xs-3">
      <%=g.title%>
      <%=link_to(image_tag(g.url, class: "img-responsive"), gif_path(g.id))%>
    </div>
  <%end%>
</div>
