/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

*/
 @import "bootstrap-sprockets";
 @import "bootstrap";

* {
  margin: 0;
  text-decoration: none;
  color: black;
  font-family: Verdana;
}

.header{
  text-align: center;
  background-color: #c0c0c0;
  margin:0;
}

.jumbotron{
width: 100%;

}


#nav_left{
  text-decoration: none;
  text-align: center;
  float: left;
}

#nav_right{
  text-decoration: none;
  text-align: center;
  float: right;
  display:inline-block;
}

.title a{
  text-decoration: none;
  text-align: center;
  font-size: 100px;
  color:#fc0;
  width: auto;
  height:auto;
  align-items: center;
  display:inline-block;
}

//doesn't seem to be working below
.title:hover a{
  color: #c0c0c0;
  text-decoration: none;
}

.subtitle{
  text-align: center;
  font-style: oblique;
  font-size: 18px;
}


.page-name{
  text-align: center;
}

.new_user_session{
  margin-left: 15px;
  padding-left: 15px;
}
.new_gif{
  margin-left: 15px;
  padding-left: 15px;
}
