/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

*/
 @import "bootstrap-sprockets";
 @import "bootstrap";

// OVERALL -----------------
* {
  margin: 0;
  text-decoration: none;
  color: black;
  font-family: Comfortaa;
}
.header{
  text-align: center;
  background-color: #c0c0c0;
  margin:0;
}
.jumbotron{
width: 100%;
margin: 10;
padding: 10px 0px 0px 0px;
background-color: #0066ff;
border: 1px solid black;
border-radius: 5px;
}
.container{
  padding-bottom: 50px;
}
// NAV BAR ------------------
#nav_left{
  text-decoration: none;
  text-align: center;
  float: left;
}
#nav_right{
  text-decoration: none;
  text-align: center;
  float: right;
  display:inline-block;
}
// LOGO ------------------------
.title-gif{
  align-items: center;
}
.title-gif{
  width: 250px;
  height:170px;
  border-radius: 100%;
  overflow: hidden;
}
.title-gif-inside{
  width: 300px;
  margin: -20px;
  margin-top: -15px;
}
// -----------------------------
.subtitle{
  text-align: left;
  font-style: oblique;
  font-size: 18px;
  margin: 0;
  color: #fc0;
}

.page-name{
  text-align: center;
}

.new_user_session{
  margin-left: 15px;
  padding-left: 15px;
}
.new_gif{
  margin-left: 15px;
  padding-left: 15px;
}
.row{
  padding: 0px 15px 0px 15px;
}
.col-xs-3{
  text-align: center;
}
// GIF Specific ----------------------------------
.gif-panel{
  border: 1px gray;
}
.gif-title{
  font-size: 18px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #cce0ff;
}
.gif-image{
  border-radius: 5px;
}
// GID Modal ------------------------------------
.gif-selected-details{
  font-size: 10px;
}
.gif-in-modal{
  max-width: 300px;
}
// Footer ---------------------------------------
#footer{
  text-align: center;
  height: 20px;
}
