// Place all the styles related to the gifs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.subtitle{
  text-align: center;
  font-style: oblique;
  font-size: 18px;
}

.gifs{
  display:inline-block;
}
