// Place all the styles related to the gifs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.gifs{
  display:inline-block;
}

.new_gif{
  margin-left: 15px;
  padding-left: 15px;
}
